@font-face {
    font-family: 'Tilda Sans';
    src:
            url('../../../fonts/TildaSans-Regular.woff2') format('woff2'),
            url('../../../fonts/TildaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.global__payment__frame {
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;

    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 0 10px 0 rgba(121, 156, 240, 0.50);
}

.payments__account {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
}

.heading__payment {
    display: flex;
    align-items: center;
    gap: 20px;
}

.heading__account {
    color: #132FBA;
    font-family: 'Tilda Sans', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 48px */

    margin: 0;
}

.payment__info {

}

.card__number__frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.heading {
    color: #5D5D5D;
    font-family: 'Tilda Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}

.card__number {

}

.card__number__text {
    color: #000;
    font-family: 'Tilda Sans', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 54px */
}

.initials__frame {

}

.initials__text {
    color: #000;
    font-family: 'Tilda Sans', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 54px */
}

.heading__initials {

}

.initials {

}