::-webkit-scrollbar {
    width: 0;
}

@font-face {
    font-family: 'Tilda Sans', sans-serif;
    src: url("./fonts/TildaSans-Regular.woff");
}

body {
    background: url("./img/background1.png"), lightgray 50% / cover no-repeat;
}

.glass {
    /* Glass */
    display: inline-flex;
    padding: 41px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    position: absolute;
    width: auto;
    height: auto;
    left: 5%;
    right: 5%;
    top: 10%;

    background: rgba(255, 246, 210, 0.1);
    backdrop-filter: blur(25px);

    /* Note: backdrop-filter has minimal browser support */
    border-radius: 30px;
}

.form {
    width: 100%;
}

form {
    padding-top: 25px;
}

.registration {
    display: flex;
    padding: 0;

    margin-top: 40px;

    margin-left: 5%;
    margin-right: 5%;
}

#sign__up {
    color: #1E1E1E;
    font-family: 'Tilda Sans', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

input {
    border: 0;
}

label {
    color: #1E1E1E;
    font-family: 'Tilda Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.vertical__frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 41px;
}

.input__work__email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;

    width: 100%;
}

#label__3 {
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
}

#work__email {
    display: flex;
    width: 100%;
    padding: 11px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    background: #F0F4F8;

    color: #B9B9B9;
    font-family: 'Tilda Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.input__password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;

    width: 100%;
}

#label__4 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

#password {
    display: flex;
    width: 100%;
    padding: 11px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    background: #F0F4F8;

    color: #B9B9B9;
    font-family: 'Tilda Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

button {
    display: flex;
    padding: 15px;

    width: auto;

    margin-left: 0;
    margin-right: 0;

    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    border: 0;

    border-radius: 10px;
    background: #132FBA;

    color: #FFF;
    text-align: center;
    font-family: 'Tilda Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

button:hover {
    background: #121272;
    color: #A8A8A8;
}

#question {
    width: auto;

    color: #42465A;
    text-align: right;
    align-items: center;
    font-family: 'Tilda Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    padding: 0;
    margin: 0;
}

a {
    display: flex;

    /*padding-right: 0;*/
    align-items: center;

    color: #1E1E1E;
    font-family: 'Tilda Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;

    padding: 0;
    margin: 0;
}

a:hover {
    color: #121272;
}

.alert__frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.error{
    align-self: stretch;

    color: #FA3F3F;
    font-family: 'Tilda Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.congratulation {
    align-self: stretch;

    color: #36C529;
    font-family: 'Tilda Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.col-md-12 {
    padding-left: 5%;
    padding-right: 5%;
}