@font-face {
    font-family: 'Tilda Sans';
    src:
            url('../fonts/TildaSans-Regular.woff2') format('woff2'),
            url('../fonts/TildaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.global__container {
    gap: 100px;
}

.heading__frame__search {
    display: flex;
    padding-top:  64px;
    padding-bottom:  64px;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;

    margin: 0 0 0 0;
}

.heading__text__search {
    margin: 0 0 0 0;
}

.heading {
    color: #132FBA;
    font-family: 'Tilda Sans', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 72px */

    margin: 0 0 0 0;
}

.text__content {
    color: #5D5D5D;
    font-family: 'Tilda Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */

    margin: 0 0 0 0;
}

.search__frame {
    width: auto;
    height: auto;

    padding-left: 5%;
    padding-right: 5%;

    gap: 20px;
}

.search-header {

}

.search-text {
    color: #132FBA;
    font-family: 'Tilda Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin: 20px;
}

#search-box {
    color: #132FBA;
    font-family: 'Tilda Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    display: flex;
    width: 100%;
    padding-left: 13px;
    padding-bottom: 13px;
    padding-top: 13px;
    align-items: center;
    gap: 15px;

    border-radius: 15px;
    background: #EDEDED;

    border: none;

    cursor: pointer;
}

#search-box:focus {
    outline: none;
}

.placeholder__search {
    width: auto;
    height: auto;

    margin-top: 40px;

    border: 1px dashed rgba(0, 0, 0, 0.15);

    left: 5%;
    right: 5%;
}

.placeholder__search__second {
    width: auto;
    height: auto;

    margin-top: 10px;

    border: 1px dashed rgba(0, 0, 0, 0.15);

    left: 5%;
    right: 5%;

    margin-bottom: 10%;
}

.list__value {
    color: #000;
    font-family: 'Tilda Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}

#item__list {
    display: flex;
    padding-top:  64px;
    padding-bottom:  64px;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
}

li {
    margin: 5px;
}

ol {
    padding-bottom: 20px;
}

#stop__name {
    list-style-type: none; /* Убираем маркеры у списка */
}

#stop__name:before {
    content: "🚏 "; /* Добавляем в качестве маркера символ */
}

#street__name {
    list-style-type: none; /* Убираем маркеры у списка */

    margin-bottom: 30px;
}

#street__name:before {
    content: "🛣️ "; /* Добавляем в качестве маркера символ */
}

#routes__name {
    list-style-type: none; /* Убираем маркеры у списка */
}

#routes__name:before {
    content: "📍 "; /* Добавляем в качестве маркера символ */
}