@font-face {
    font-family: 'Tilda Sans';
    src:
            url('../../fonts/TildaSans-Regular.woff2') format('woff2'),
            url('../../fonts/TildaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.route__card__global {
    display: flex;
    align-items: center;
    gap: 40px;
}

.global__window__modal {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;

    right: 5%;
    left: 5%;
}

.account {
    margin: 10% 5%;

    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

/* Начало анимации */
@keyframes variantAccount {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Применение анимации на элементе */
.box__account {
    animation-name: variantAccount;
    animation-timing-function: ease-in-out;
    animation-duration: 300ms;
}

/* Применение анимации на элементе */
.new__route__account {
    animation-name: variantAccount;
    animation-timing-function: ease-in-out;
    animation-duration: 300ms;
}

/* Применение анимации на элементе */
.global__payment__frame {
    animation-name: variantAccount;
    animation-timing-function: ease-in-out;
    animation-duration: 300ms;
}

/* Применение анимации на элементе */
.history__route__account {
    animation-name: variantAccount;
    animation-timing-function: ease-in-out;
    animation-duration: 300ms;
}

.text__info__account {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.heading__account__first {
    color: #132FBA;
    font-family: 'Tilda Sans', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 72px */
}

.text__account {
    color: #5D5D5D;
    font-family: 'Tilda Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.boxes__account {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;
}

.routes__global__frame__account {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;
}

.global__frame__account {
    display: flex;
    width: auto;
    align-items: flex-start;
    gap: 70px;
}