@font-face {
    font-family: 'Tilda Sans';
    src:
            url('../fonts/TildaSans-Regular.woff2') format('woff2'),
            url('../fonts/TildaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

footer {
    display: flex;
    width: 100%;
    padding: 80px 64px;
    flex-direction: column;
    align-items: center;
    gap: 80px;

    background: #FFFEFA;
}

.content {
    display: flex;
    align-items: center;
    align-self: stretch;
}

.links {
    display: flex;
    align-items: flex-start;
    gap: 32px;

    color: #000;
    font-family: 'Tilda Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */

    cursor: pointer;
}

.social__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
}

.credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

#divider {
    height: 1px;
    align-self: stretch;
    background: #000;
}

.row {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

#footer__text {
    color: #000;
    font-family: 'Tilda Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
}

.commercial__links {
    display: flex;
    align-items: flex-start;
    gap: 24px;

    color: #000;
    font-family: 'Tilda Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    text-decoration-line: underline;

    cursor: pointer;
}